.fondo {
    background-color: #ffefef;
}

.fondoBarra{
    background-color: rgb(138, 1, 1);
}



#cuerpo{
    background-color: rgb(201, 201, 201);
}

label{
    font-weight: bold;
}

#cabeza{
   
    background-image: linear-gradient(to right, #000dbe 0%, #75b5ff 100%);
}